/* input{
    
    padding: 5px ;
    border-radius: 10px 20px;
    margin-left: 180px;
}
label{
    margin-left: 400px;
}
body{
    background: rgb(220,181,217);
background: linear-gradient(90deg, rgba(220,181,217,0.7148109243697479) 3%, rgba(175,171,235,0.8772759103641457) 43%, rgba(175,171,235,1) 47%, rgba(175,171,235,0.8772759103641457) 50%, rgba(175,171,235,0.8772759103641457) 99%);
} */